{% extends "restaurant/base.html" %}


{% block content %}
<script type='text/javascript' src='https://10ay.online.tableau.com/javascripts/api/viz_v1.js'></script><div class='tableauPlaceholder' style='width: 100x; height: 735px;'><object class='tableauViz' width='1440' height='735' style='display:none;'><param name='host_url' value='https%3A%2F%2F10ay.online.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='&#47;t&#47;cs411projectsitet6' /><param name='name' value='Arrowheads&#47;Inventory_1' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='showAppBanner' value='false' /></object></div>
<table class="table table-borderless">
    <thead class="border-bottom font-weight-bold">
        <tr>
            <td><h3>Ingredient</h3></td>
            <td><h3>Quantity</h3></td>
            <td><h3>Last Updated</h3></td>
            <td>
                <a href="{% url 'inventory_insert' %}" class="btn btn-outline-success">
                    <i class="fas fa-plus"></i> Add New
                </a>
            </td>
        </tr>
    </thead>
    <tbody>
        {% for inventory in inventory_list %}
            <tr>
                <td>{{inventory.ingredient}}</td>
                <td>{{inventory.qty_available}}</td>
                <td>{{inventory.last_update_timestamp}}</td>
                <td>
                    <a href="{% url 'inventory_update' inventory.inventory_id %}" class="btn btn-outline-info text-primary px-0">
                        <i class="far fa-edit fa-lg"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}